In [41]:
import pandas as pd
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook
import time
import datetime
pd.options.mode.chained_assignment = None  # default='warn'

In [42]:
def change_cat_to_reeest(cell):
    """
    Функция для замены значений категорий используемыъ в таблице 3 на значения используемые в реестре УПП
    """
    temp_str = cell.strip() # очищаем от пробелов на всякий случай
    if temp_str == '120':
        return '2'
    elif temp_str == '100':
        return '1'
    elif temp_str in ('130','131','132','133','134','135','136','','','','','','','','','','','','','',):
        return '3'
    elif temp_str in ('141','142','143','144','145','146','147','148','149','150','151','152'):
        return '4'
    else:
        return '0'

In [43]:
def create_doc_convert_date(cell):
    """
    Функция для конвертации даты при создании документов
    :param cell:
    :return:
    """
    try:
        string_date = datetime.datetime.strftime(cell, '%d.%m.%Y')
        return string_date
    except ValueError:
        return ''

In [44]:
file_transfer_to_upp = 'data/Перенос из таблицы 3 в реестр УПП/Таблица 3 с дополнительными колонками..xlsx'
file_transfer_reestr = 'data/Перенос из таблицы 3 в реестр УПП/2022-10-27_64_Реестр УПП с дополнительными колонками.xlsx'
path_to_end_folder = 'data/'
header_reestr = 'data/Перенос из таблицы 3 в реестр УПП/Заголовок Реестр УПП от 25.10.xlsx'

In [45]:
# Загружаем датафреймы
df_upp = pd.read_excel(file_transfer_reestr,skiprows=8)
df_table_3 = pd.read_excel(file_transfer_to_upp,skiprows=6,usecols=[4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28,
                                                           29,32])

In [46]:
# Приводим названия колонок к строковому виду, чтобы избежать возможных проблем с названиями колонок
df_upp.columns = list(map(str,list(df_upp.columns)))
df_table_3.columns = list(map(str,list(df_table_3.columns)))

# Очищаем на всякий случай от пробельных символов
df_upp.columns = list(map(lambda x:x.strip(),list(df_upp.columns)))
df_table_3.columns = list(map(lambda x:x.strip(),list(df_table_3.columns)))

In [47]:
df_upp.head()

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,31,32,33,34,35,36,37
0,Ангоянское,Ангоянское,NaN,32,1,13,1а,0.4,"56,8906071731145","111,604523118265",...,0,0,0.0,0,0.0,NaN,0.4,NaN,NaN,1
1,Ангоянское,Ангоянское,NaN,32,2,7,2а,1.6,"56,8907756254041","111,60655696686",...,0,0,0.0,0,0.0,NaN,1.6,NaN,NaN,1
2,Ангоянское,Ангоянское,NaN,32,3,11,3а,0.1,"56,8853268727696","111,611572021886",...,0,0,0.0,0,0.0,NaN,0.1,NaN,NaN,1
3,Ангоянское,Ангоянское,NaN,32,5,10,5а,7.5,"56,8885191270788","111,601674714733",...,0,0,0.0,0,0.0,NaN,7.5,NaN,NaN,1
4,Ангоянское,Ангоянское,NaN,32,7,78,7а,20.5,"56,8783556985033","111,572764198335",...,0,0,0.0,0,0.0,NaN,20.5,NaN,NaN,1

In [48]:
df_table_3.head()

,5,6,7,8,9,10,11,13,14,15,...,22,23,24,25,26,27,28,29,30,33
0,Улан-Удэнское,Березовское,NaN,39,3,3.1,NaN,NaN,NaN,0,...,2022-02-04 00:00:00,0,0,0,0,0,0,0,2,0.0
1,Улан-Удэнское,Березовское,NaN,26,11,5.1,NaN,NaN,NaN,0,...,2022-02-04 00:00:00,0,0,0,0,0,0,0,2,0.0
2,Улан-Удэнское,Березовское,NaN,27,3,4.2,NaN,NaN,NaN,0,...,2022-02-04 00:00:00,0,0,0,0,0,0,0,2,0.0
3,Улан-Удэнское,Березовское,NaN,39,14,9.6,NaN,NaN,NaN,0,...,2022-02-04 00:00:00,1,СО,более 40%,более 40%,2022-04-05 00:00:00,1,0,1,2.3
4,Улан-Удэнское,Березовское,NaN,39,8,2.0,NaN,NaN,NaN,0,...,2022-02-04 00:00:00,1,СО,более 40%,более 40%,2022-04-05 00:00:00,1,0,1,0.8

In [49]:
# Фильтруем датафрейм отбирая только те записи в которых есть 1 в графе 30
transfer_df=df_table_3[df_table_3['30'] == 1]


# перемещаем площадь выдела
transfer_df.insert(7,'12',transfer_df['33'])

# удаляем лишний столбец с площадью выдела и признаков внесения в реестр
transfer_df.drop(columns=['30','33'],inplace=True)

In [50]:
transfer_df.columns

Index(['5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17',
       '18', '19', '20', '22', '23', '24', '25', '26', '27', '28', '29'],
      dtype='object')

In [51]:
transfer_df['17'] =transfer_df['17'].astype(str) # Приводим колонку к строковому формату

In [52]:
transfer_df['17'] =transfer_df['17'].apply(change_cat_to_reeest) # Заменяем категории таблицы 3 на категории Реестра УПП

In [53]:
transfer_df.columns

Index(['5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17',
       '18', '19', '20', '22', '23', '24', '25', '26', '27', '28', '29'],
      dtype='object')

In [54]:
transfer_df.columns = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24']

In [55]:
transfer_df.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
      dtype='object')

In [56]:
itog_df = pd.concat([df_upp,transfer_df],ignore_index=True)

In [57]:
itog_df

,1,2,3,4,5,6,7,8,9,10,...,28,29,30,31,32,33,34,35,36,37
0,Ангоянское,Ангоянское,NaN,32,1,13,1а,0.4,"56,8906071731145","111,604523118265",...,0,0,0.0,0,0.0,NaN,0.4,NaN,NaN,1.0
1,Ангоянское,Ангоянское,NaN,32,2,7,2а,1.6,"56,8907756254041","111,60655696686",...,0,0,0.0,0,0.0,NaN,1.6,NaN,NaN,1.0
2,Ангоянское,Ангоянское,NaN,32,3,11,3а,0.1,"56,8853268727696","111,611572021886",...,0,0,0.0,0,0.0,NaN,0.1,NaN,NaN,1.0
3,Ангоянское,Ангоянское,NaN,32,5,10,5а,7.5,"56,8885191270788","111,601674714733",...,0,0,0.0,0,0.0,NaN,7.5,NaN,NaN,1.0
4,Ангоянское,Ангоянское,NaN,32,7,78,7а,20.5,"56,8783556985033","111,572764198335",...,0,0,0.0,0,0.0,NaN,20.5,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214628,Верхне-Баргузинское,Куллукское,,278,16,1.4,NaN,1.4,"54,424793412566","110,855589602686",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214629,Верхне-Баргузинское,Куллукское,,282,1,2.9,NaN,0.8,"54,4152337244119","110,755870037421",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214630,Верхне-Баргузинское,Куллукское,,282,1,2.9,NaN,0.5,"54,4172841007572","110,755748033173",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214631,Верхне-Баргузинское,Куллукское,,282,6,4.2,NaN,4.4,"54,414440295182","110,75700823851",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214632,Верхне-Баргузинское,Куллукское,,282,7,8.5,NaN,8.8,"54,4124788639625","110,757418077089",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
itog_df.sort_values(['1','2','3','4','5',
                     ],inplace=True)

In [59]:
# Приводим даты к нормальному виду ДД.ММ.ГГГГ
itog_df['17'] = pd.to_datetime(itog_df['17'],errors='coerce',dayfirst=True)
itog_df['22'] = pd.to_datetime(itog_df['22'],errors='coerce',dayfirst=True)
itog_df['17'] = itog_df['17'].apply(create_doc_convert_date)
itog_df['22'] = itog_df['22'].apply(create_doc_convert_date)

In [60]:
itog_df.shape

(214633, 37)

In [61]:
# itog_df.to_excel('Тест.xlsx',index=False)

In [62]:
# Получаем текущую дату
current_time = time.strftime('%H_%M_%S %d.%m.%Y')
# Сохраняем отчет
# Для того чтобы увеличить ширину колонок для удобства чтения используем openpyxl
wb = load_workbook(header_reestr) # Создаем объект
# Записываем результаты
for row in dataframe_to_rows(itog_df,index=False,header=False):
    wb['Реестр УПП'].append(row)

In [63]:
wb.save(f'{path_to_end_folder}/Реестр УПП с добавлением данных из таблицы 3 {current_time}.xlsx')